@charset "utf-8";

div { margin-top: 31px; padding-top: 31px; }
.foo { margin-top: 32px; padding-right: 32px; }
#bar { margin-top: 33px; padding-bottom: 33px; }
div.foo { margin-top: 34px; padding-left: 34px; }
div#bar { margin-top: 35px; padding-top: 35px; }
.foo#bar { margin-top: 36px; padding-right: 36px; }
#bar.foo { margin-top: 37px; padding-bottom: 37px; }
div.foo#bar { margin-top: 38px; }
div#bar.foo { margin-top: 39px; }

* { margin-top: 0px; }

E { margin-left: 1px; }
E.warning { margin-top: 11px; }
E#myid { margin-top: 12px; }
E:not(s) { margin-top: 13px; }

F { margin-top: 14px; padding-right: 14px; }
E F { margin-top: 15px; padding-left: 15px; }
E > F { margin-top: 16px; }
E + F { margin-top: 17px; }
E ~ F { margin-top: 18px; }

E G F { margin-top: 19px; padding-bottom: 19px; }
E G H F { margin-top: 20px; }
E H G F { margin-top: 21px; }

E G.c F { margin-top: 22px; margin-right: 22px; }
E H.c F { margin-top: 23px; margin-bottom: 23px; }
E G.c H.c F { margin-top: 24px; margin-left: 24px; }
E H.c G.c F { margin-top: 25px; }

E[foo] { margin-top: 22px;}
E[foo="EQ"] { margin-top: 23px; }
E[foo~="TILD"] { margin-top: 24px;}
E[foo^="HAT"] { margin-top: 25px; }
E[foo$="DOLLAR"] { margin-top: 26px; }
E[foo*="STAR"] { margin-top: 27px; }
E[foo|="PIPE"] { margin-top: 28px; }
E:pseudo-class { margin-top: 29px; }
E::pseudo-class { margin-top: 30px; }
